@import "tailwindcss";

:root {
    --position: 0;
    --lenthAnimation: 0s;
}

ul {
    list-style-type: none;
}

.animation {
    --lenthAnimation: 0s;
    -webkit-animation: flip 0.5s;
    animation: flip 0.5s forwards;
    animation-delay: var(--lenthAnimation);
}

@-webkit-keyframes flip {
    /* from {
        transform: rotateX(90deg)
    }
    to {
        transform: rotateX(0deg)
    }
      */
}
@keyframes flip {
    from {
        transform: rotateY(0deg)
    }
    to {
        transform: rotateY(180deg)
    }
}

#bg_date {
    height: 50%;
    z-index: -1;
}

#header {
    padding: 0%;
    height: 100%;
}

.row {
    
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1rem;
    background-color: #313236;
}

.ele {
    text-align: center;
    overflow: hidden;
}

img.center {
    display: block;
    margin: 0 auto;
    width: 4rem;
}

.card-holder {

    height: 100%;
    margin: 0;
    transition: transform 0.6s;
    transform-style: preserve-3d;

}

.card-back, .card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    white-space: normal;
    overflow: hidden;
}

.card-back{
    transform: rotateY(180deg);
}

.card {
    background-color: transparent;
    height: 8rem;
    perspective: 100rem;
}

