@import "tailwindcss";

:root {
    --position: 0;
    --lenthAnimation: 0s;
}

ul {
    list-style-type: none;
}

.box {
    --lenthAnimation: 0s;
    -webkit-animation: flip 0.5s;
    animation: flip 0.5s;
    animation-delay: var(--lenthAnimation);
}
@-webkit-keyframes flip {
    from {
        transform: rotateX(90deg)
    }
    to {
        transform: rotateX(0deg)
    }
}
@keyframes flip {
    from {
        transform: rotateX(90deg)
    }
    to {
        transform: rotateX(0deg)
    }
}

#header {
    padding: 0%;
    height: 100%;
}

.row {
    margin: 2rem;
    
}

.ele {
    text-align: center;
    overflow: hidden;
}